
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.components {
  display: flex;
  justify-content: space-around;
  margin-top: 90px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.nav-list {
  height: 10vh;
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  list-style: none;
}

.nav-links {
  text-decoration: nones;
  color: black;
  font-size: 18px;
}

