.content {
    width: 80em;
    display: flex;
}

.icon {
    width: 20em;
}

#water {
    background-color: lightblue;
}

#food {
    background-color: #ff694f;
}

#exercise {
    background-color: #ffee75;
}